.post {
  padding: 2.5rem;
  background-color: var(--gray-800);
  border-radius: 8px;
}
.post + .post {
  margin-top: 2rem;
}
.post > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post header .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post header .info {
  display: flex;
  flex-direction: column;
}
.info strong {
  line-height: 1.6;
  color: var(--gray-100);
}
.info span {
  line-height: 1.6;
  color: var(--gray-400);
  font-size: 0.875rem;
}
.time time {
  font-size: 0.875rem;
  color: var(--gray-400);
}
.content p {
  margin-top: 2.5rem;
  color: var(--gray-300);
}
.content a {
  color: var(--green-500);
  text-decoration: none;
  font-weight: 700;
}
.content a:hover {
  color: var(--green-300);
}
.content .hashtags {
  display: flex;
  gap: 0.4rem;
}
.commentForm {
  width: 100%;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}
.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}
.commentForm textarea {
  width: 100%;
  margin-top: 1rem;
  border: none;
  resize: none;
  border-radius: 8px;
  background-color: var(--gray-900);
  height: 6rem;
  padding: 1rem;
  color: var(--gray-100);
}
.commentForm footer {
  visibility: hidden;
  max-height: 0;
}
.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}
.commentForm button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  background-color: var(--green-500);
  color: white;
  cursor: pointer;
  font-weight: 700;
  transform: background-color 0.1s;
}
.commentForm button:not(:disabled):hover {
  background-color: var(--green-300);
}
.commentForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.commentBox {
  margin-top: 2rem;
}